header {
    
    .container-fluid{
        height: 120px;
    }
    .NavSticky{
        position: fixed;
        top: 0px;
        background-color: $colorTwo;
        width: 100%;
        z-index: 2;
    }

    .titleNav{
        color: $colorOne;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 10px;
        margin-right: 40%;
        font-size: 50px;

        .titleNav_lio{
            color: rgb(68, 65, 64);
        }
    }
    
    .NavHome{
        transition: all 0.5s ease;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 20px;
        border-radius: 15px;
        
        .NavHomeLink{
            color: $colorOne;
            transition: all 0.5s ease;
        }
        .NavHomeLink:hover{
            color: $colorTwo;
        }
    }

    .NavHome:hover{
        background-color: $colorOne;
    }

    .NavAbout{
        transition: all 0.5s ease;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 20px;
        border-radius: 15px;

        .NavAboutLink{
            color: $colorOne;
            transition: all 0.5s ease;
        }
        .NavAboutLink:hover{
            color: $colorTwo;
        }
        
    }

    .NavAbout:hover{
        transform: scale(1,1);
        background-color: $colorOne;
    }

    .NavSkills{
        transition: all 0.5s ease;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 20px;
        border-radius: 15px;

        .NavSkillsLink{
            color: $colorOne;
            transition: all 0.5s ease;
        }
        .NavSkillsLink:hover{
            color: $colorTwo;
        }
    }

    .NavSkills:hover{
        transform: scale(1,1);
        background-color: $colorOne;
    }

    .NavContact{
        transition: all 0.5s ease;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 20px;
        border-radius: 15px;
        
        .NavContactLink{
            color: $colorOne;
            transition: all 0.5s ease;
        }
        .NavContactLink:hover{
            color: $colorTwo;
        }
    }

    .NavContact:hover{
        transform: scale(1,1);
        background-color: $colorOne;
    }
    


}